# 1. Archivo de Entorno (¡EL MÁS IMPORTANTE!)
# Ignora el archivo que tiene todas tus contraseñas.
.env

# 2. Dependencias de Node.js
# Ignora la carpeta que se genera con "npm install".
/node_modules

# 3. Archivos de Log (Opcional pero recomendado)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 4. Archivos del Sistema Operativo (Opcional pero recomendado)
.DS_Store
Thumbs.db